@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box   ;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} 
.container{
    max-width: 1140px;
    margin: auto;
    position: relative;
    min-height: 1px;
}
.authors{
    min-height: 100vh;
    padding: 60px 15px;
    background-color: white;
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.authors .card{
    width: 20%;
    float: left;
    padding: 0px 10p5;
}
.authors .card .box img{
width: 150px;
display: block;
margin: 10px auto; 
border-radius: 50%;

}
.authors .card .box{
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    transition: margin 1s ease,box-shadow 1s ease;
}
.authors .card .box:hover{
    margin-top: -15px;
    box-shadow: 0px opx 40px black;
}
.authors .card .box h4{
     font-size: 20px;
     font-family: open sans;
     margin: 20px opx 10px;
     color: #ea5e71;
     text-align: center;
     font-weight: 700;
    
}
.authors .card .box h5{
    font-size: 16px;
    font-family: open sans;
    margin: 0px opx 15px;
    color: #b9b9b9;
    text-align: center;
    font-weight: 600;
   
}
.authors .card .box p{
    font-size: 15px;
    font-family: open sans;
    color: #b9b9b9;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
   
}
.authors h1{
    font-size: 36px;
    font-family: open sans;
    color: black;
    text-align: left;
    padding-bottom:60px ;
    margin: 0;
    font-weight: 700;
   
}
@media (max-width :991px){
    .authors .card{
        width: 50%;
        
    }
    .card #last-image{
        width: 100%;
        margin-left: -50%;
    }
   
     
}
@media (max-width :550px){
    .authors .card{
        width: 100%;
    }
    
    .card #last-image{
        width: 100%;
    margin-left: 0%;
    }
    
}


/* home page*/
  
  nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
  }
  nav a{
    color: black;
    background: white;
    display: block;
    display: flex;
    height: 50px;
    justify-content: center;
    background:transparent;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: background 0.4s;
    font-size: 14px;
   
  }
  ul{
    width: 1200px;
  }
  
  li a:hover{
    background-color: wheat;
  }
  
  
  .logo{
    height: 50px;
  }
  
  nav ul{
    display: flex;
    list-style: none;    
  }
  
  nav li{
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  
  .sin:hover .sub {
    display: flex;
    top: 0px;
  }
  
  
  
  .sub {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: 100%;
    margin-top: 50px;
  }
  
  .sach{
    align-self: center; 
  }
  
  .sach button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }
  
    .body-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 1518px;
      height: 700px;
      background: #0c025d75;
    }
  
    .writings{
      width: 500px;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      color: white;
      margin-left: 80px;
      height: 350px;
     
    }
  
    /*.heading{
      display: flex;
      align-items: center;
      justify-content: space-around;
      height:50px;
      background-color:#212F61;
      font-size:16px;
      color:white;
      font-family: 'Montserrat', sans-serif; 
      margin: 100px 250px 0 250px;
    }
    */
    
    h2{
      color: #051241;
      font-size: 25px;
    }
    .subhead-two, .subhead-one{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 25px;
    }
    
  
    .middle-container{
      background-image: url("beach-blur-clouds-dawn-462030.jpg");
      background-size: 1550px;
      margin-top: 2px;
      height: 700px;
      background-position: bottom;
    }
  
    .adv, .diff{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      height: 620px;
      width: 1000px;
      align-self: center;
      margin-top: 25px;
    }
  
    .one, .two, .three, .four, .five, .six{
      width: 250px;
      height: 150px;
      background-size: 250px;
      background-position: bottom;
      margin-right: 25px;
      margin-left: 25px;
      background-image: url("beach-blur-clouds-dawn-462030.jpg");
      text-align: center;
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      color: white;
      
    }
  
    .left {
      width: 50px;
      height: 50px;
      transition: .5s;
      display: flex;
      align-items: flex-start;
      cursor: pointer;
      box-shadow: -2px 2px 0 white;
      transform: rotate(45deg);
    }
  
    .right {
      width: 50px;
      height: 50px;
      transition: .5s;
      display: flex;
      align-items: flex-end;
      cursor: pointer;
      box-shadow: -2px 2px 0 white;
      transform: rotate(225deg);
    } 
    .learn{
      background-color: #051241;
      font-size: 11px;
      font-family: 'Montserrat', sans-serif;
      color: white;
      border: 0px;
      height: 30px;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;
  }
  
  .back{
    background-color: #0c025d75;
    height: 150px;
    width: 250px;
    height: inherit;
    width: inherit;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: lighter;
  }
    

