@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box   ;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
} 
.container{
    max-width: 1140px;
    margin: auto;
    min-height: 1px;
}
.authors{
    min-height: 100vh;
    padding: 60px 15px;
    background-color: white;
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.authors .card{
    width: 20%;
    float: left;
    padding: 0px 10p5;
}
.authors .card .box img{
width: 200px;
display: block;
margin: 10px auto; 
border-radius: 50%;

}
.authors .card .box{
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    transition: margin 1s ease,box-shadow 1s ease;
}
.authors .card .box:hover{
    margin-top: -15px;
    box-shadow: 0px opx 40px black;
}
.authors .card .box h4{
     font-size: 20px;
     font-family: open sans;
     margin: 20px opx 10px;
     color: #ea5e71;
     text-align: center;
     font-weight: 700;
    
}
.authors .card .box h5{
    font-size: 16px;
    font-family: open sans;
    margin: 0px opx 15px;
    color: #b9b9b9;
    text-align: center;
    font-weight: 600;
   
}
.authors .card .box p{
    font-size: 15px;
    font-family: open sans;
    color: #b9b9b9;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
   
}
.authors h1{
    font-size: 36px;
    font-family: open sans;
    color: black;
    text-align: left;
    padding-bottom:60px ;
    margin: 0;
    font-weight: 700;
   
}
@media (max-width :991px){
    .authors .card{
        width: 50%;
        
    }
    .card #last-image{
        width: 100%;
        margin-left: -50%;
    }
   
     
}
@media (max-width :550px){
    .authors .card{
        width: 100%;
    }
    
    .card #last-image{
        width: 100%;
    margin-left: 0%;
    }
    
}

/* footer section*/

.footer{
    width:100%;
    background: #051241;
    display:block;
    color:white;
    font-family:'Montserrat', sans-serif ;
}
.inner-footer{
    width:95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items{
 width:25%;
 padding:10px 20px;
 box-sizing: border-box;
 
}
h1{
padding: 10px 0;
font-size: 25px;
}
.footer-items p{
    color: white;
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
}
.footer-items ul{
    padding-left: 20px;
}
.footer-items ul li{
    margin: 10px;
}
h2{
    margin:10px 0;
    color: white;
    font-size: 25px;

}
.border{
    height: 2px;
    width: 40px;
    background:red;
}
ul{
    list-style: none;
    
}
ul a{
    text-decoration: none;
    outline: none;
    color: white;
    transition: 0.3s;
}
footer ul a:hover{
    color: red;

}
.social-media{
    width:100%;
    text-align: center;
    color: white;
}

.social-media a {
    text-decoration: none;
    text-align: center;


}
.social-media i{
    width: 40px;
    margin: 20px 5px;
    padding: 10px;
    color:white;
    border-radius: 50%;
    border:1px solid  grey;
    transition: 0.3s;

}
.social-media i:hover{
background: grey;
}
.footer-bottom{
    padding:10px;
    color:white;
    background: #051241;
    font-size: 12px;
    
}
@media screen and (max-width:1085px){
    .footer-items{
        width: 50%;

    }
}
@media screen and (max-width:600px){
    .footer-items{
        width: 100%;

    }
}