/*footer code*/
.footer{
    width:100%;
    background: #051241;
    display:block;
    color:white;
    font-family:'Montserrat', sans-serif ;
  }
  .inner-footer{
    width:95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
  }
  .footer-items{
  width:25%;
  padding:1px 50px 0px 0px;
  box-sizing: border-box;
  
  }
  .footer h1{
  padding: 10px 0;
  font-size: 25px;
  color:white;
  }
  .footer-items p{
    color: white;
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer h2{
    margin:10px 0;
    color: white;
    font-size: 25px;
    padding-left: 0px;
  
  }
   .footer .border{
    height: 2px;
    width: 40px;
    border: 1px solid red!important;;
  }
  .footer ul{
    list-style: none;
    font-size: 15px;
    color: white;
    letter-spacing: 0.5px;
    width: 350px;
    padding-left: 40px;
  }
  .footer ul a{
    text-decoration: none;
    outline: none;
    color: white;
    transition: 0.3s;
  }
  .footer ul a:hover{
    color: red;
  
  }
  .footer ul li{
    margin:10px 0;
    height:25px;
    color: white;
    font-family: montserrat,sans-serif;
    font-weight: normal;
    font-size: 15px;
  }
  .footer li i{
    margin-right: 20px;
  }
  .social-media{
    width:100%;
    text-align: center;
    color: white;
  }
  
  .social-media a {
    text-decoration: none;
  
  
  }
  .social-media i{
    height: 35px;
    width: 35px;
    margin: 20px 5px;
    padding: 10px;
    color:white;
    border-radius: 50%;
    border:1px solid  grey;
    transition: 0.3s;
  
  }
  .social-media i:hover{
  background: grey;
  }
  .footer-bottom{
    padding:10px;
    color:white;
    background: #051241;
    font-size: 12px;
    
  }
  @media screen and (max-width:600px){
    .footer-items{
        width: 100%;
    }
    
    nav {
      flex-wrap: wrap;
    }
    
    nav li {
      z-index: 1;
    }
    
    nav ul {
      flex-wrap: wrap;
      padding: 0px;
    }
    
    .sub {
      position:relative;
      margin-top: 0px;
      margin-bottom: 10px;
      background-color: grey;
    }
    
    .middle-container {
      background-size: 120%;
      height: 100%;
    }
    
    .body-container {
      flex-wrap: wrap;
    }
    
    .left, .right {
      display: none;
    }
    
    .adv, .diff {
      width: 400px;
      height: 100%;
    }
    
    .one, .two, .three, .four, .five, .six,.seven, .eight, .nine, .ten, .eleven {
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }