*{
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
}

nav{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}
nav a{
  color: black;
  background: white;
  display: block;
  display: flex;
  height: 50px;
  justify-content: center;
  background:transparent;
  align-items: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: background 0.4s;
  font-size: 14px;
 
}


li a:hover{
  background-color: wheat;
}


.logo{
  height: 50px;
}

nav ul{
  display: flex;
  list-style: none;
  width: 1200px;    
}

nav li{
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}


.sin:hover .sub {
  display: flex;
  top: 0px;
}



.sub {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 100%;
  margin-top: 50px;
  padding: 0px;
}

.sach{
  align-self: center; 
}

.put{
  margin-top: 15px;
    left: 35%;
    width: 30%;
    height: 5%;
}

.sach button{
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

  .body-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 700px;
    background: #0c025d75;
  }

  .writings{
    width: 500px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 80px;
    height: 350px;
    position: relative;
    right: 0px;
  }

  .moveleft{
    animation: slideout 4s ease 0s 1;
  }

  .appearfromleft{
    animation: slideout 4s ease 0s 1 reverse;
  }

  .appearfromright{
    animation: slidein 4s ease 0s 1;
  }
.moveright{
  animation: slidein 4s ease 0s 1 reverse;
}
  
  @keyframes
  slideout{
    from {
      right: 0px;
    }
    to{
      right: 1400px;
    }
  }

  @keyframes
  slidein{
    from {
      right: -1400px;
    }
    to{
      right: 0px;
    }
  }

  .videos{
    position: relative;
    right: 0px;
  }

 h1{
   font-weight: 300;
 }
 
 p{
   font-weight: 300;
 }
  
  h2{
    font-size: 250%;
    font-weight: 400;
  }
  .subhead-two, .subhead-one{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 25px;
    height:80px;
    background-color:#051241;
    color:white;
    font-family: 'Montserrat',sans-serif; text-align: center;
    vertical-align: middle;
  }
  

  .middle-container{
    background-image: url("beach-blur-clouds-dawn-462030.jpg");
    background-size: 1550px;
    margin-top: 2px;
    height: 700px;
    background-position: bottom;
    overflow-x: hidden;
  }

  .adv, .diff{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 620px;
    width: 1350px;
    align-self: center;
    margin-top: 25px;
  }

  .pop{
    display: none;
    background-image: url("beach-blur-clouds-dawn-462030.jpg");
    width: 85%;
    height: 78%;
    position: absolute;
    top: 116%;
    left: 10%;
    border-radius: 35px;
    background-size: cover;
    background-position: bottom;
  }
  .popup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #0c025d75;
    border-radius: 35px;
    position: inherit;
    
    /*background-color: rgba(12, 2, 93, 1);*/
}



  .popupwrite{
    width: 650px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 80px;
    height: 450px;
    padding-right: 50px;
  }
  .popupvid{
    padding-left: 50px;
  }
  .closebtn{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: white;
  }

  .one, .two, .three, .four, .five, .six,.seven, .eight, .nine, .ten, .eleven{
    width: 330px;
    height: 180px;
    background-size: 350px;
    background-position: bottom;
    margin-right: 25px;
    margin-left: 25px;
    background-image: url("blurbookshelf.jpg");
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }


  .left {
    width: 50px;
    height: 50px;
    transition: .5s;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    box-shadow: -2px 2px 0 white;
    transform: rotate(45deg);
  }

  .right {
    width: 50px;
    height: 50px;
    transition: .5s;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    box-shadow: -2px 2px 0 white;
    transform: rotate(225deg);
  } 
  .learn{
    background-color: #051241;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: 0px;
    height: 30px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.back{
  background-color: #0c025d75;
  height: 150px;
  width: 250px;
  height: inherit;
  width: inherit;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: lighter;
}
  

/*footer code*/
.footer{
  width:100%;
  background: #051241;
  display:block;
  color:white;
  font-family:'Montserrat', sans-serif ;
}
.inner-footer{
  width:95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.footer-items{
width:25%;
padding:1px 50px 0px 0px;
box-sizing: border-box;

}
.footer h1{
padding: 10px 0;
font-size: 25px;
color:white;
}
.footer-items p{
  color: white;
  font-size: 15px;
  text-align: justify;
  line-height: 30px;
}
.footer h2{
  margin:10px 0;
  color: white;
  font-size: 25px;

}
 .border{
  height: 2px;
  width: 40px;
  background:red;
}
.footer ul{
  list-style: none;
  font-size: 15px;
  color: white;
  letter-spacing: 0.5px;
  width: 350px;
}
.footer ul a{
  text-decoration: none;
  outline: none;
  color: white;
  transition: 0.3s;
}
.footer ul a:hover{
  color: red;

}
.footer ul li{
  margin:10px 0;
  height:25px;
}
.footer li i{
  margin-right: 20px;
}
.social-media{
  width:100%;
  text-align: center;
  color: white;
}

.social-media a {
  text-decoration: none;


}
.social-media i{
  height: 35px;
  width: 35px;
  margin: 20px 5px;
  padding: 10px;
  color:white;
  border-radius: 50%;
  border:1px solid  grey;
  transition: 0.3s;

}
.social-media i:hover{
background: grey;
}
.footer-bottom{
  padding:10px;
  color:white;
  background: #051241;
  font-size: 12px;
  
}
@media screen and (max-width:600px){
  .footer-items{
      width: 100%;
  }
  
  nav {
    flex-wrap: wrap;
  }
  
  nav li {
    z-index: 1;
  }
  
  nav ul {
    flex-wrap: wrap;
    padding: 0px;
  }
  
  .sub {
    position:relative;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: grey;
  }
  
  .middle-container {
    background-size: 120%;
    height: 100%;
  }
  
  .body-container {
    flex-wrap: wrap;
  }
  
  .left, .right {
    display: none;
  }
  
  .adv, .diff {
    width: 400px;
    height: 100%;
  }
  
  .one, .two, .three, .four, .five, .six,.seven, .eight, .nine, .ten, .eleven {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

